<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Member</h1>
	<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
		User's Name: <span sec:authentication="name"></span><br> <br> User's Role: <span
			sec:authentication="principal.authorities"></span>
		<div>
			<ul>
				<li><a href="/" th:href="@{/}">Back to index page.</a></li>
				<li><a href="/View" th:href="@{/View}">view contacts</a></li>
			</ul>
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout">
			</form>
		</div>
	</div>

</body>
</html>